title: "FRACTAL COUNTY"
subtitle: "LINK DIRECTORY"

links:
  - name: "TWITTER"
    url: "https://twitter.com/fractalcounty"
  - name: "YOUTUBE"
    url: "https://www.youtube.com/fractalcounty"
  - name: "BLUESKY"
    url: "https://bsky.app/profile/fractalcounty.com"
  - name: "INSTAGRAM"
    url: "https://www.instagram.com/fractalcounty"
  - name: "BANDCAMP"
    url: "https://laramieonline.bandcamp.com/album/early-years"